/*
This stylesheet is responsible for

how activities are displayed in the front-end
*/



.activities-container-wrap {
	width: 103.8%;
	margin: 0 -1.9%;
}

.csscolumns-notice {
	display: none;
}

@supports ((-webkit-column-count:2) and (-webkit-column-gap:0px)) or
			((-moz-column-count:2) and (-moz-column-gap:0px)) or
			((-ms-column-count:2) and (-ms-column-gap:0px)) or
			((-o-column-count:2) and (-o-column-gap:0px)) or
			((column-count:2) and (column-gap:0px)) {
	.no-js .activities-container {
		-webkit-column-count: 2;
		-webkit-column-gap: 0px;
		-moz-column-count: 2;
		-moz-column-gap: 0px;
		-ms-column-count: 2;
		-ms-column-gap: 0px;
		-o-column-count: 2;
		-o-column-gap: 0px;
		column-count: 2;
		column-gap: 0px;
		width: 100%;
	}
	.no-js .csscolumns-notice {
		display: inline;
	}
}

.activity {
	width: 46.24%;
	margin: 2.1em 1.83% 0 1.83%;
	float: left;
}
.activity-open {
	z-index: 3 !important;
}

.activity.activity-full-width {
	width: 100%;
	margin: 1.1em 0 1em;
}

.activity.toggle-wrapper {
	padding: 0;
}

@supports ((-webkit-column-count:2) and (-webkit-column-gap:0px)) or
			((-moz-column-count:2) and (-moz-column-gap:0px)) or
			((-ms-column-count:2) and (-ms-column-gap:0px)) or
			((-o-column-count:2) and (-o-column-gap:0px)) or
			((column-count:2) and (column-gap:0px)) {
	.no-js .activity {
		display: inline-block;
		margin: 2.1em 0 0 3.66%;
		width: 92.68%;
		box-sizing: border-box;
		float: none;
	}
}

.activity.single-activity {
	padding: 1.2em 1.3em .9em;
	border-radius: 1em;
	width: 100%;
	margin: 0;
	background: #eee7d5;
	float: none;
	-webkit-box-sizing: border-box; /* add modernizr test and polyfill this shit! */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.activity.activity-goldeimerfestival.single-activity {
	background: #c4f3e2;
}

.activity-island {
	padding: 1.2em 1.3em .9em;
	border-radius: 1em;
	width: 100%;
	background: #eee7d5;
	-webkit-box-sizing: border-box; /* add modernizr test and polyfill this shit! */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.activity-goldeimerfestival .activity-island {
	background: #c4f3e2;
}

.activity-nwgathering .activity-island {
	background: #f3c4e2;
}

.activity a {
	border-bottom: 1px dotted #008fc1;
}
.no-touch .activity a:focus,
.activity a:active,
.activity a:hover {
	color: #008fc1;
	text-shadow: 0 0 1px #008fc1;
	border-color: #e2007a;
}
.activity h4 {
	font-family: GS, Verdana, Geneva, Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	font-weight: 700;
	line-height: 1;
	margin-bottom: .16666667em;
	color: #008fc1;
	text-transform: uppercase;
}
.activity h4 a {
	color: #008fc1;
	border-bottom: 0;
}
.no-touch .activity h4 a:hover,
.activity h4 a:focus,
.activity h4 a:active {
	color: #00586c;
	text-shadow: 0 0 3px #008fc1;
	text-decoration: none;
}

.activity-goldeimerfestival a {
	border-color: #a44732;
}
.no-touch .activity.activity-goldeimerfestival a:focus,
.activity.activity-goldeimerfestival a:active,
.activity.activity-goldeimerfestival a:hover {
	color: #a44732;
	text-shadow: 0 0 1px #a44732;
	border-color: #a44732;
}
.activity.activity-goldeimerfestival h4 {
	color: #a44732;
}
.activity.activity-goldeimerfestival h4 a {
	color: #a44732;
	border-bottom: 0;
}
.no-touch .activity.activity-goldeimerfestival h4 a:hover,
.activity.activity-goldeimerfestival h4 a:focus,
.activity h4 a:active {
	color: #714d45;
	text-shadow: 0 0 3px #a44732;
}

.activity p.type {
	color: #008fc1 !important;
	font-size: 1em;
	line-height: 1;
	margin: 0 0 1.1em;
}
.activity.activity-goldeimerfestival p.type {
	color: #a44732 !important;
	font-size: 1em;
	line-height: 1;
	margin: 0 0 1.1em;
}

.activity h5 {
	font-size: 1.4em;
	font-weight: 700;
	line-height: 1.5;
	margin-top: 1em;
	color: #584619;
}
.activity.activity-goldeimerfestival h5 {
	color: #365a4d;
}
/*.no-touch .activity:hover,
.activity:active {
	background: #ccb882;
}*/
.activity .form-row {
	margin: 0;
}
.activity input,
.activity textarea,
.activity select {
	border: 2px solid #584619;
	background: rgb(221,208,172); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(221,208,172,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,208,172,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(221,208,172,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(221,208,172,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(221,208,172,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(221,208,172,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd0ac', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
.ie9 .activity input,
.ie9 .activity textarea,
.ie9 .activity select {
	filter: none;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5Y2RiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

.activity.activity-goldeimerfestival input,
.activity.activity-goldeimerfestival textarea,
.activity.activity-goldeimerfestival select {
	border-color: #365a4d;
	background: #aad3c4; /* Old browsers */
	background: -moz-linear-gradient(top, #aad3c4 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aad3c4), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #aad3c4 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #aad3c4 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #aad3c4 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #aad3c4 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad3c4', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
.ie9 .activity.activity-goldeimerfestival input,
.ie9 .activity.activity-goldeimerfestival textarea,
.ie9 .activity.activity-goldeimerfestival select {
	filter: none;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhZDNjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

.activity input:focus,
.activity textarea:focus,
.activity select:focus,
.activity.activity-goldeimerfestival input:focus,
.activity.activity-goldeimerfestival textarea:focus,
.activity.activity-goldeimerfestival select:focus {
	background: #ffffff;
}
.activity input[type=submit] {
	border: none;
	float: right;
	color: #ffffff;
	background: #bba259;
    -webkit-box-shadow: inset 0 1px 2px #ccb882,
						0 1px 2px #857043;
    -moz-box-shadow: inset 0 1px 2px #ccb882,
						0 1px 2px #857043;
    box-shadow: inset 0 1px 2px #ccb882,
						0 1px 2px #857043;
}
.no-touch .activity input[type=submit]:hover  {
    text-shadow: 0 0 3px #ddd0ac;

}
.activity input[type=submit]:active  {
	color: #ffffff;
	background: #857043;
    -webkit-box-shadow: inset 0 2px 4px #584619,
						0 1px 0 #ddd0ac;
    -moz-box-shadow: inset 0 1px 2px #584619,
						0 1px 2px #ddd0ac;
    box-shadow: inset 0 1px 2px #584619,
						0 1px 2px #ddd0ac;
}
.activity.activity-goldeimerfestival input[type=submit] {
	color: #ffffff;
	background: #42d9a3;
    -webkit-box-shadow: inset 0 1px 2px #c4f3e2,
						0 1px 2px #365a4d;
    -moz-box-shadow: inset 0 1px 2px #c4f3e2,
						0 1px 2px #365a4d;
    box-shadow: inset 0 1px 2px #aad3c4,
						0 1px 2px #365a4d;
}
.no-touch .activity.activity-goldeimerfestival input[type=submit]:hover  {
    text-shadow: 0 0 3px #aad3c4;

}
.activity.activity-goldeimerfestival input[type=submit]:active  {
	color: #ffffff;
	background: #365a4d;
    -webkit-box-shadow: inset 0 2px 4px #4c5a55,
						0 1px 0 #aad3c4;
    -moz-box-shadow: inset 0 1px 2px #4c5a55,
						0 1px 2px #aad3c4;
    box-shadow: inset 0 1px 2px #4c5a55,
						0 1px 2px #aad3c4;
}
img.activity-icon {
	margin: 0 0 0 1.6em;
	float: right;
}

/* FILTER BOX
----------------------------------------- */

div.filter-container.sticky {
	z-index: 1000;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0 2em;
	-webkit-box-sizing: border-box; /* add modernizr test and polyfill this shit! */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.filter-container.sticky .filter-wrap {
	margin-left: 15em;
	-webkit-box-sizing: border-box; /* add modernizr test and polyfill this shit! */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.filter-container .filter-wrap {
	padding: 1.6em 0 0;
	margin: 0;
	background: #f1f2f2;
	overflow: hidden;
}
.filter-container .filter-wrap .filter-inner {
	padding: .6em 1.3em 1.5em;
	margin: 0;
	border-radius: 1em;
	background: #c4e3f0;
	overflow: hidden;
}
.filter-container .filter-bottom {
	margin: 0 0 0 15em;
	padding: 0;
	height: 2.6em;/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYyZjIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(241,242,242,1) 0%, rgba(241,242,242,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,242,242,1)), color-stop(100%,rgba(241,242,242,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(241,242,242,1) 0%,rgba(241,242,242,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(241,242,242,1) 0%,rgba(241,242,242,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(241,242,242,1) 0%,rgba(241,242,242,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(241,242,242,1) 0%,rgba(241,242,242,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f2f2', endColorstr='#00f1f2f2',GradientType=0 ); /* IE6-8 */

}
.ie9 div.filter-container .filter-bottom,
.ie10 div.filter-container .filter-bottfom {
	filter: none;
}
div.filter-container div.options-island {
	margin: 0;
}
div.filter-container div.anchors-wrap { /* deprecation fix (element still exists in DOM) */
	display: none;
	visibility: hidden;
}
div.filter-container h3 {
	margin: .444444em 0 .38888889em;
}
div.filter-container select {
	margin: .6em .3em 0;
}

/* CONDITIONAL STYLES / POLYFILLS
----------------------------------------- */

.js div.minimalistic-activity:hover,
.js div.minimalistic-activity:active {
	cursor: pointer;
}

/* MOBILE
----------------------------------------- */

@media handheld, only screen and (max-width: 919px) {
	.activities-container-wrap {
		width: auto;
		margin: 0;
	}
	.activity {
		width: 100%;
		margin: 2.1em 0 0;
	}
}

@media only screen and (min-height: 600px) and (min-width: 767px) {
	div.filter-container.sticky {
		top: 0;
	}
}

@media handheld, only screen and (max-width: 767px) {
	div.filter-container .filter-bottom,
	div.filter-container.sticky .filter-wrap {
		margin-left: 0;
	}
}

@media handheld, only screen and (max-height: 699px) {
	.filter-container.sticky .filter-wrap {
		padding: 0;
	}
	.filter-container.sticky .filter-wrap .filter-inner {
		padding: .7em 1.3em 1.4em;
		margin:0;
		border-radius: 0 0 1em 1em;
	}
}

@media handheld, only screen and (max-width: 767px), only screen and (max-height: 699px) {
	/* collapsable filter box */
}

@media handheld, only screen and (max-width: 479px) {
	div.filter-container.sticky {
		padding: 0 1.2em;
	}
}