#tooltip {
	padding: 0 1.2em 0;
	background: #ffffff;
	border: 2px solid #008fc1;
	border-radius: 4px;
	text-align: left;
	margin-right: 1.5em;
}
#tooltip img {
	padding-top: 1.2em;
	padding-bottom: .9em;
}
span.supporter-tooltip:hover {
	color: #e2007a;
}