blue100: #008fc1
blue75: #00a8cf
blue50: #7ec5e0
blue25: #c4e3f0

darkblue100: #002a3d
darkblue75: #00586c
darkblue50: #588b9b
darkblue25: #a9c4ce

lightblue100: #a4d8e3
lightblue75: #bee3eb
lightblue50: #d5ecf1
lightblue25: #ebf7f9

pink100: #e2007a
pink75: #e9619c
pink50: #f19fc1
pink25: #f9d3e3

darkbrown100: #584619
darkbrown75: #857043
darkbrown50: #b09e79
darkbrown25: #d9cdb8

lightbrown100: #bba259
lightbrown75: #ccb882
lightbrown50: #ddd0ac
lightbrown25: #eee7d5

beige100: #e3cf9a
beige75: #ebdbb3
beige50: #f1e6cc
beige25: #f9f3e6
