div.message {
	margin: 5px 0 15px;
	padding: 0 .6em;
	background-color: #c4e3f0;
	border: 1px solid #008fc1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.message p {
	margin: .5em 0;
	padding: 2px;
}